*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font-size: 10px;
  -webkit-font-smoothing: antialiased;
  font-family: 'IBM Plex Sans', sans-serif;
  position: relative;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
  font-weight: bold;
}

button {
  border: none;
  outline: none;
  font-family: inherit;
  background: none;
  cursor: pointer;
}

input,
textarea {
  border: none;
  outline: none;
  font-family: inherit;
}
